<h2>Gastos</h2>

<table>
    <thead>
        <tr>
            <th>Pagador</th>
            <th>Concepto</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of expenses.expenses">
            <td>{{ friendName(expense.payerId) }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ amountFromDecimal(expense.amount) | currency:'EUR' }}</td>
            <td>{{ ago(expense.dateTime) }}</td>
        </tr>
    </tbody>
</table>