<h2>Add Expense</h2>

<pre> {{newExpense | json}} </pre>

<form (ngSubmit)="onSubmit(expenseForm)" #expenseForm="ngForm" ngNativeValidate>

    <label for="friend">Amigo</label>
    <select id="friend" [(ngModel)]="newExpense.payerId" name="payerId" required>
        <option *ngFor="let friend of friends.friends" [value]="friend.id">
            {{friend.name}}
        </option>
    </select>

    <label for="description">Concepto</label>
    <input id="description" type="text" required [(ngModel)]="newExpense.description" name="description">

    <label for="amount">Pago</label>
    <input id="amount" type="text" pattern="[0-9]+" required [(ngModel)]="newExpense.amount" name="amount">

    <button type="submit" [disabled]="expenseForm.form.invalid">Añadir</button>
</form>

<pre> {{ expenses | async | json }}</pre>